body {
  font: normal 1.6rem var(--main-font);
  background: var(--background-base);
  margin: 0;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.drum-machine {
  position: relative;
  display: flex;
  width: 60rem;
  height: 32rem;
  border: 5px solid gray;
  background: var(--container-color);
  border-radius: var(--border-radius);
  transition: border-color 200ms ease-out;

  @media screen and (max-width: 560px) {
    width: 40rem;
    height: 60rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
