body {
  font: 1.6rem/1.4 normal var(--main-font);
  background: var(--background-base);
  margin: 0;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.drum-machine {
  display: flex;
  width: 60rem;
  height: 32rem;
  border: 5px solid orange;
  background: var(--container-color);
  border-radius: var(--border-radius);
}
