.control-container {
  @extend .drum-pad-container;
  align-items: center;

  .logo-container {
    position: absolute;
    font-size: 1.8rem;
    font-weight: 700;
    top: 8px;
    right: 8px;
  }

  fieldset {
    border: 0;

    .switch-title {
      font-size: 1.6rem;
      font-weight: bold;
      text-align: center;
    }

    .switch {
      position: relative;
      display: inline-block;
      width: 6rem;
      height: 3.4rem;

      input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: hsl(0, 0%, 80%);
        transition: 400ms;
      }

      .slider::before {
        content: '';
        position: absolute;
        width: 2.6rem;
        height: 2.6rem;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: 400ms;
      }

      input:focus + .slider {
        box-shadow: 0 0 1px hsl(207, 90%, 54%);
      }

      input:checked + .slider {
        background-color: hsl(207, 90%, 54%);
      }

      input:checked + .slider::before {
        transform: translateX(2.6rem);
      }

      .slider.round {
        border-radius: 3.4rem;
      }

      .slider.round:before {
        border-radius: 50%;
      }
    }
  }

  .display-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: gray;
    width: 18rem;
    height: 5rem;
    margin: 1rem;
    border-radius: var(--border-radius);
  }

  .slider-container {
    
  }
}
