.drum-pad-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  .drum-pad-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;

    .drum-pad:nth-child(2) {
      margin: 0.7rem 0.35rem;
    }

    .drum-pad {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      margin: 0.7rem;
      width: 8rem;
      height: 7rem;
      background: gray;
      border-radius: var(--border-radius);
      transition: all 150ms ease-out;

      &:hover {
        filter: brightness(1.1);
      }
    }
  }
}
